body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #0f172a;
    color: white;
}

header {
    text-align: center;
    padding: 50px;
    background: #1e293b;
}

.about {
    display: flex;
    padding: 40px;
    gap: 20px;
    align-items: center;
}

.about img {
    width: 150px;
    border-radius: 50%;
}

.projects {
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin: 10px 0;
    border-radius: 10px;
    transition: 0.3s;
}

.card:hover {
    transform: scale(1.05);
}

.contact {
    padding: 40px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 20px;
    background: #020617;
}